{% extends 'base.html' %}
{%  block headjs %}
<script type="text/javascript">

    // Generates the Ajax request for the checkDone view
    function checkDone(checkbox) {
        var data = {};
        data['csrfmiddlewaretoken'] = $('input[name=csrfmiddlewaretoken]').val();//grab the hidden csrf token
        data['pk'] = $(checkbox).attr('id');
        if ($(checkbox).attr('checked'))
        {
            data['val'] = false;
        }
        else
        {
            data['val'] = true;
        }

        $.post("{% url checkApp.views.taskDone %}", data, function(resp){

        },'json');
    }



    $(document).ready(function(){

        //bind checkDone to the checkboxes
        $('input.checkDone').click(function(){
            checkDone($(this));
        });

        //JS for handling the Ajax Form submits when creating Tasks
        $('form#createTask').submit(function(e){
            e.preventDefault();
            $.post("{% url checkApp.views.createTask %}",$('#createTask').serialize(), function(resp){
                var task = resp[0];
                var newtask = '<li class="checkList"><input type="checkbox" class="checkDone" id="' + task.pk + '"> ' + task.fields.text + '</li>';
                $('#tasks').append(newtask);

                //bind the checkDone function to the new checkbox
                $('input#'+ task.pk).click(function(){
                    checkDone($(this));
                });

                //clear the name field in the form
                $('input[name=text]').val('');
            },'json');
            return false;
        });


    });




</script>
{% endblock %}
{%  block content %}

<h1>{{ list.name}}</h1>
<ul id="tasks" class="unstyled">
{% for task in tasks|dictsort:"done" %}
<li class="checkList"><input type="checkbox"{%  if task.done %}checked{% endif %} class="checkDone" id="{{ task.pk }}"> {{ task.text }}</li>
{% endfor %}
</ul>

<form action="#" method="post" id="createTask">
{%  csrf_token %}
{{  form.text }}
{{  form.checkList }}

<input type="submit" value="Add Task" class="btn primary">
</form>

<form action="{% url checkApp.views.startTemplate %}" method="post" id="createTemplate">
    {%  csrf_token %}
    <input type="hidden" name="pk" value="{{ list.pk }}">
    <input type="submit" value="Save as Template" class="btn primary">
</form>
{% endblock %}