{%  extends 'base.html' %}

{%  block headjs %}
<script type="text/javascript">

    $(document).ready(function(){
        $('form#createCheckList').submit(function(){
            var data = {};
            data['name'] = $('input[name=name]').val();
            data['creator'] = $('input[name=creator]').val();
            data['csrfmiddlewaretoken'] = $('input[name=csrfmiddlewaretoken]').val();//grab the hidden csrf token
            $.post("{% url checkApp.views.createCheckList %}", data, function(resp){
            var item = resp[0];
            var newlist = '<li><a href="/check/view/' + item.pk + '/">' + item.fields.name + ' - ' +  item.fields.creator + '</a></li>';
            $('#checklists').append(newlist);
            },'json');
        return false;
        });
    });

</script>
{%  endblock %}

{%  block content %}
<h1>CheckLists:</h1>
<ul id="checklists">
{%  for check in list %}
    <li><a href="{% url checkApp.views.viewList check.pk  %}">{{ check.name }} - {{ check.creator }} - {{ check.items.count }}</a></li>

{% endfor %}
</ul>
    {% load widget_tweaks %}
    <form action="#" method="post" id="createCheckList">
        {%  csrf_token %}
        {{  form.name }}
        {{  form.creator }}
        <input type="submit" value="Create List">
    </form>
{%  endblock %}